/*--------------*/
/*   ¡GENERAL!  */
/*--------------*/
@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {font-family: Oswald;}

h1, h2, h3 { color: #ff8c1a }

.navbar {width: 100%; height: 55px; background:rgba(0, 0, 0, 0.4);}
.navbar--active{background:rgba(255, 102, 0,0.7)}
.navbar ul { list-style-type: none; }
.button {
  display: block;
    padding: 15px;
    text-decoration: none;
    color:white;
    width: 100px;
    text-align: center;
}
.button:hover { background:rgba(255, 102, 0,0.8); }

.background{
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.logo { height: 55px; float: left;}
.logo:hover {background:rgba(255, 102, 0,0.8); }

.content {
  padding: 10px;
	width: 80%;
	height: 91%;
  left:10%;
  top:8%;
  position: absolute;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
 }
.flex {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap row-reverse;
  align-content: flex-start;
  align-items: flex-start;
}

.featured {
  position:absolute;
  width:30%;
  height:40%;
  border:5px ridge rgba(255, 100, 0,0.5);
  transition:all .2s ease-in-out;
}
.featured:hover {transform:scale(1.04); border:8px ridge rgba(255, 100, 0,0.9);}
.featured:hover .featured__container {display:block;}
.featured__image {width:100%; height:100%;}
.featured__container {
  display:none;
  width:100%;
  height:15%;
  bottom:0;
  position:absolute;
}
.featured__nav {
  background:rgba(255, 100, 0,0.4);
  height:100%;
  width:10%;
  color:white;
  font-size: 2em;
  user-select: none;
  cursor: pointer;
}
.featured__nav:hover {background:rgba(255, 100, 0,0.9);}
.featured__title {
  background:rgba(255, 100, 0,0.4);
  width:100%;
  height:100%;
  font-size: 2em;
  color: white;
}
.featured__title:hover {background:rgba(255, 100, 0,0.5);}