/*--------------*/
/*   ¡GENERAL!  */
/*--------------*/
@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {font-family: Oswald;}

h1, h2, h3 { color: #ff8c1a }

.navbar {width: 100%; height: 55px; background:rgba(0, 0, 0, 0.4);}
.navbar--active{background:rgba(255, 102, 0,0.7)}
.navbar ul { list-style-type: none; }
.button {
  display: block;
  padding: 15px;
  text-decoration: none;
  color:white;
  width: 100px;
  text-align: center;
  white-space: nowrap;
}
.button:hover { background:rgba(255, 102, 0,0.8); }

.background{
  width: 100%;
  height: 900px;
  text-align: center;
  overflow: hidden;
  /*background-size: cover;*/
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.logo { height: 55px; float: left;}
.logo:hover {background:rgba(255, 102, 0,0.8); }

.content {
  padding: 10px;
	width: 80%;
  height: 91%;
  left:10%;
  top:8%;
  position: absolute;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
 }
.flex {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap row-reverse;
  align-content: flex-start;
  align-items: flex-start;
}