/*--------------*/
/*   ¡GENERAL!  */
/*--------------*/
@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	font-family: Oswald;
}

h1, h2, h3 { color: orange; }

.navbar {width: 100%; height: 55px; background:rgba(0, 0, 0, 0.4);}
.navbar--active{background:rgba(255, 102, 0,0.7)}
.navbar ul { list-style-type: none; }
.button {
  display: block;
    padding: 15px;
    text-decoration: none;
    color:white;
    width: 100px;
    text-align: center;
}
.button:hover { background:rgba(255, 102, 0,0.8); }
.background{
  width: 100%;
  height: 900px;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-size: cover; 
  background-position: center;
}
.logo { height: 55px; float: left;}
.logo:hover {background:rgba(255, 102, 0,0.8); }
.content {
	width: 80%;
  left:10%;
	height: 800px;
  bottom:5px;
 	text-align: center;
  position: absolute;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);

 }