/*
  floats
*/

.none         { float: none !important; }
.pull--left   { float: left !important; }
.pull--right  { float: right !important; }
.clear        { display: block; float: none; clear: both; }

/*
  spacing
*/

.pad            { padding: 20px; }
.pad--left      { padding-left: 20px; }
.pad--right     { padding-right: 20px; }
.pad--bottom    { padding-bottom: 20px; }
.pad--top       { padding-top: 20px; }
.push           { margin: 20px; }
.push--left     { margin-left: 20px; }
.push--right    { margin-right: 20px; }
.push--bottom   { margin-bottom: 20px; }
.push--top      { margin-top: 20px; }