.circles {
    width: 100px;
    height: 100px;
    position: fixed;
    animation-name: righttoleft;
    animation-duration: 3s;
    animation-timing-function: linear;
    float: right;
}

@keyframes righttoleft {
	0%{right: -10%;}
	100%{right: 100%;}
}

#circleDiv {
	width:100%;
	clear:both;
}
