.sub-menu {
	position: absolute;
	right: 0px;
	top: 53px;
	z-index: -1;
	opacity: 0;
	transition: opacity linear 0.15s;
	background: rgba(0, 0, 0, 0.4);
}

ul li:hover ul{
	z-index: 1;
	opacity: 1;
}

.projects {
	white-space: nowrap;
	width: 125px;
}