* {
    padding:0;
    margin:0
}

body {
    background-color:silver;
}

figcaption {
    text-align:center;
}

#header {
    height:50px;
        
}

#body{
    padding-left:20%;
    padding-right:20%;    
}

    #body_content {
        width:auto;
        padding:10px;
        background-color:gray;           
    }

    #body figure {
        margin:5px;
    }

#footer {
    height:50px;
    
}

#menu_bar {    
    height:50px;
    background-color:lightgray;
    align-content:center;
    font-family:Rockwell;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center 
        
}

.navigation-link {
	display: block;
	position: relative;
	padding: 5px 20px;
	text-decoration: none;
	color: #333;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.navigation-link:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: solid 2px;
    -webkit-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
    left: 0;
}

.navigation-link:hover {
	color: #009688;
}

.navigation-link:hover:before {
	width: 100%;
}


.ib {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}


