/*to do
	change font
	change colors
	complete header/footer
*/



:root{
	/*orange*/
	/*--color-1:#ff6600;*/
	/*--color-2:#ffb84d;*/
	/*--color-3:#ffb84d;*/


	/*blue*/
	--color-1:#0C3C60;
	--color-2:#7DCADA;
	--color-3:#D1E0EB;
}


* {
	/*font-family: "Times New Roman", Times, serif;*/
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color:white;
	text-align: center;
}
a {
	text-decoration: none;
}


.large-title{
	font-size:60px;
}
.color-1 {
	color: var(--color-1);
}
.color-2{
	color:var(--color-2);
}
.color-3{
	color:var(--color-3);
}
.bg-color-1{
	background: var(--color-1);
}
.bg-color-2{
	background: var(--color-2);
}
.bg-color-3{
	background: var(--color-3);
}
.flex{
	padding:100px 0 100px 0;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	justify-content: space-between;
}
.flex-column {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
	flex-direction: column;
	justify-content: space-between;
	min-height: 550px;
}


.button-1 {
	outline: 0;
	font-size: 18px;
	border-style: none;
	height: 45px;
	width: 135px;
	background: var(--color-2);
	color: white;
	transition:color 0.3s; 
}
.button-1:hover{
	color:var(--color-1);
}
.button-2 {
	outline: 0;
	font-size: 18px;
	border-style: none;
	height: 45px;
	width: 135px;
	background: var(--color-1);
	color: white;
	opacity: 1;
	transition:opacity 0.3s; 
}
.button-2:hover{
	opacity: 0.5;
}




.header {
	padding: 15px 300px 15px 200px;
	background: var(--color-1);
	height:75px;
	top: 0px;
	position: fixed;
	width:100%;
}
.header *{
	text-align: initial;
}
.top-filler-div{
	margin-top:75px; 
}
.content{
	padding:60px 0 60px 0;
	margin: 0 auto;
	width: 1000px;
/*	opacity: 0;
	transition: opacity 2s;*/
}
.content-block{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
	height: 350px;
	width: 300px;
	background: var(--color-1);
}
.content-block h1{
	color:var(--color-3);
}
.footer {
	padding: 30px 300px 30px 200px;
	background: var(--color-1);
	width: 100%;
	height: 100px;
}

