@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
	background-image: url("../images/parchment.jpg");
	background-repeat: no-repeat;
	background-size: 1920px 1000px;
	background-color: white;
	position: relative;
	overflow: hidden;
	font-family: Oswald;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;	
}

.navbar {width: 100%; height: 55px; background:rgba(0, 0, 0, 0.4);}
.navbar--active{background:rgba(255, 102, 0,0.7)}
.logo { height: 55px; float: left;}
.logo:hover {background:rgba(255, 102, 0,0.8); }

.map {
	height: 500px;
	width: 700px;
	float: left;
	position: absolute;
	display: none;
}

.character {
	position: absolute;
	background: url("../images/character.png");
	background-position:-4px -4px;
	height: 50px;
	width: 50px;
}
.nothing {background-color: pink;}
.tile {position: absolute;}
.exit {background: url("../images/exit.png");}
.fountain {background-color: red;}
.entrance {background: url("../images/entrance.png");}
/*forest*/
.forest {background-color: green;}
.bush {background: url("../images/bush.png");}
.water {background: url("../images/water.png");}
.humanoid {background: url("../images/humanoid.png");}
.beast {background: url("../images/beast.png");}
.slime {background: url("../images/slime.png");}
/*deadforest*/
.deadforest {background-color: darkgreen;}
.deadbush {background-color: green;}
.posionwater {background-color: lightgreen;}
.monster4 {background-color: pink;}
.monster5 {background-color: purple;}
.monster6 {background-color: orange;}
/*caste*/
.castle {background-color: grey;}
.wall {background-color: black;}
.monster1 {background-color: pink;}
.monster2 {background-color: purple;}
.monster3 {background-color: orange;}
/*fireland*/
.fireland {background-color: darkred;}
.firebush {background-color: darkgreen;}
.lava {background-color: red;}
.monster7 {background-color: pink;}
.monster8 {background-color: purple;}
.monster9 {background-color: orange;}


#gameDisplay {
	position: relative;
	left: 440px;
	top: 150px;
	width: 0px;
}

/*----------------*/
/* Combat Display */
/*----------------*/
#combatDisplay {
    box-sizing: border-box;
    background-color: #656565;
    height: 490px;
    width: 700px;
    position: absolute;
    display: none;
}

#enemy-display {
	height: 15%;
	background-color: #25383C;
	position: relative;
	border: 1px solid black;
	font-weight: 900;
	box-sizing: border-box;
}

.button {
	height: 75%;
	width: 25%;
	border: 2px solid black;
	margin: 10px;
	font-size: 200%;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
}

.button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#enemy-level {
	font-weight: 900;
	float: left;
	padding: 20px;
}

#enemy-name {
	font-weight: 900;
	text-align: right;
	font-size: 150%;
	margin: 10px 40% 0px 0px;
}

#flee {
	float: right;
	background-color: #ffff4d;
}

.enemy-health-div {
	height: 5%;
	position: relative;
	box-sizing: border-box;
}

#enemy-health {
	height: 100%;
	background-color: red;
	font-weight: 400;
	border-radius: 20px;

}

#enemy-health-number {
	position: absolute;
	top: 0%;
	height: 100%;
	text-align: center;
	width: 100%;

}

#combat-text {
	height: 57%;
	overflow: auto;
	border: 1px solid black; 
	box-sizing: border-box;   
}

#combat-text ul {
    margin:0;
    padding-left:10px;
    padding-top:5px;
    list-style-type: none;
}

.hero-health-div {
	height: 5%;
	position: relative;
	box-sizing: border-box;
}

#hero-health {
	height: 100%;
	background-color: red;
	font-weight: 400;
	border-radius: 20px;
}

#hero-health-number {
	position: absolute;
	top: 0%;
	height: 100%;
	text-align: center;
	width: 100%;
}

.hero-mana-div {
	height: 5%;
	position: relative;
	box-sizing: border-box;
}

#hero-mana {
	height: 100%;
	background-color: blue;
	font-weight: 400;
	border-radius: 20px;
}

#hero-mana-number {
	position: absolute;
	top: 0%;
	height: 100%;
	text-align: center;
	width: 100%;
}

.combat-buttons {
	height: 15%;
	background-color: #25383C;
	box-sizing: border-box;
	border: 1px solid black;
}

#attack {
	background-color: red;
}

#special1 {
	float: right;
	background-color: #269900;
}

#special2 {
	float: right;
	background-color: #269900;
}

/*----------------*/
/* Stats  Display */
/*----------------*/
#stats-display {
	position: relative;
	height: 500px;
	width: 300px;
	left: 700px;
	box-sizing: border-box;
	border: 2px solid gray;
	padding: 10px;
	font-size: 130%;
	background: #697072;
	background: -webkit-linear-gradient(45deg, #697072 0%,#afc5db 100%);
	background: -moz-linear-gradient(45deg, #697072 0%,#afc5db 100%);
	background: -ms-linear-gradient(45deg, #697072 0%,#afc5db 100%);
	background: -o-linear-gradient(45deg, #697072 0%,#afc5db 100%);
}

#player-name {
	font-size: 125%;
	float: left;
	font-style: italic;
}

.lv {
	font-size: 125%;
	float: right;
}

#player-level {
}

#stats-health {
	font-weight: 900;
	color: red;
}

#stats-mana {
	font-weight: 900;
	color: blue;
}

#race {
	position: absolute;
	top: 60px;
	right: 0px;
	height: 30px;
	width: 70px;
	text-align: center;
}

#gender {
	position: absolute;
	top: 90px;
	right: 0px;
	height: 30px;
	width: 70px;
	float: right;
	text-align: center;
}

#player-damage {
	float: right;
}

.stats {
	padding-top: 20px;
}

.stats tr td:last-child {
	padding-left: 150px;
	float: right;
	white-space: nowrap;
}

.exp-bar-background {
	height: 22px;
	width: 200px;
	background-color: black;
	bottom: 60px;
	position: absolute;
	border-radius: 20px;
}

#exp-bar {
	height: 20px;
	width: 75%;
	background-color: yellow;
	bottom: 60px;
	border-radius: 20px;
}

.exp-div {
	position: absolute;
	text-align: center;
	bottom: 0;
	right: 0;
	padding: 0px 10px 20px 0px;
	font-size: 85%;
	font-style: italic;

}

.exp-div span {
	font-style: normal;
}

/*----------------------------*/
/* Character Creation Display */
/*----------------------------*/
.creation-display {
	height: 500px;
	width: 700px;
	position: relative;
	top: -500px;
	display: block;
	background: -webkit-linear-gradient(-45deg, #0029c1 0%,#000207 100%);
	background: -moz-linear-gradient(-45deg, #0029c1 0%, #000207 100%);
	background: linear-gradient(135deg, #0029c1 0%,#000207 100%);
	font-family: Verdana, Geneva, sans-serif;
}

.create-character {
	margin: 0px;
	left: 18%;
	height: 45px;
	width: 460px;
	background-color: #0d0d0d;
	color: white;
	position: absolute;
	border-radius: 0 0 10px 10px;
	text-align: center;
}

.create-gender {
	position: absolute;
	width: 200px;
	height: 120px;
	margin: 13% 0% 0% 5%;
	text-align: center;
	border-radius: 5px;
	font-weight: 600;
	background: #0d0d0d;
	color: white;
}

.create-name {
	position: absolute;
	width: 200px;
	height: 120px;
	margin: 34% 0% 0% 5%;
	border-radius: 5px;
	text-align: center;
	background: #0d0d0d;
	color: white;
}

.race-button {
	height: 70px;
	width: 120px;
	margin: 5px;
	border-radius: 5px;
	outline: none;
	font-size: 25px;
	font-family: "Lucida Console", Monaco, monospace;
	font-style: oblique;
}

.race-button.under-construction {
	opacity: 0.4;
}

.class-div {
	width: 130px;
	height: 310px;
	background-color: #006666;
	float: right;
	margin: 70px 10px 0px 0px;
	border-radius: 5px;
	background: #0d0d0d;
	color: white;
	text-align: center;
}

.race-div {
	width: 130px;
	height: 310px;
	background-color: #006666;
	float: right;
	margin: 70px 10px 0px 0px;
	border-radius: 5px;
	background: #0d0d0d;
	color: white;
	text-align: center;
}

#create-button {
	position: absolute;
	height: 40px;
	width: 190px;
	bottom: 10%;	
	left: 37%;
	border-radius: 40%;
	font-weight: 900;
	outline: none;
}