.map {
	position: relative;
	background-color: green;
	height: 500px;
	width: 700px;
}

.hero {
	position: absolute;
	background: url("../images/hero.png");
	height: 50px;
	width: 50px;
	top:250px;
	left:250px;
}

.enemy {
	position: absolute;
	background: url("../images/enemy.png");
	height: 50px;
	width: 50px;
}
.tile {
	position: absolute;
	top: 200px;
	left: 200px;
}
<<<<<<< HEAD
.bush {background: url("../images/bush.png");}
.water {background: url("../images/water.png");}
.exit {background: url("../images/exit.png");}
.entrance {background: url("../images/entrance.png");}
=======

#combatDisplay {
    background-color:darkgray;
    height:500px;
    width:700px;
    display:none;
}

#gameDisplay {

}
>>>>>>> origin/master
